
<!--

    3 CARDS CON IMAGEN para servicios

    - Desarrollo Frontend Angular 2+
    - Desarrollo Backend PHP
    - Quality Assurance 

-->

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/card8.jpg" alt="Card image cap" style="max-height: 250px">
      <div class="card-body">
        <h5 class="card-title">Programación - FrontEnd</h5>
        <p class="card-text">Angular 2+, HTML5, CSS, Typescript, JS, Bootstrap</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/card11.jpg" alt="Card image cap" style="max-height: 250px">
      <div class="card-body">
        <h5 class="card-title">Programación-BackEnd</h5>
        <p class="card-text">PHP, JS</p>
       <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/card10.png" alt="Card image cap" style="max-height: 250px">
      <div class="card-body">
        <h5 class="card-title">Quality Assurance</h5>
        <p class="card-text">ALM, QC, PPM</p>
        <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
      </div>
    </div>
  </div>

</div>
</div>
</div>